<ul class="list-inline text-center photo_team">
  <% ["MuhammadDiop", "matni94"].each do |gh_username| %>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "avatar-large" %>
      <h4><%= gh_username.capitalize %></h4>
    </li>
  <% end %>
</ul>
